body {
    font-family: "Poppins", sans-serif;
}
.header-tittle{
text-align: center;
margin-top: 45px;
font-weight: 400;
color: #397fca;
margin-bottom: 20px;
}
.body-img{
    
    width:100%;
    height:592px;
    
}
.input-label{
    font-weight:bold;
    font-size: 18px;
    

}


.color-2{
    background-color: rgb(233, 233, 213);
    width: 100%;
}
.calculator-button {
    color: white;
    background-color:#1D9AF2;
    border: 1px solid #292D3E;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.calculator-button:hover {
    box-shadow: 1px 1px #cc53ea, 2px 2px #cc53ea, 3px 3px #cc53ea;
    transform: translateX(-3px);
}